<div class="landingpage">


  <div id="landing1" class="landing1">
    <img class="img" src="https://image.ibb.co/d9rRhH/imageedit_2_3960407815.jpg"/>
    <div class="landing1text">
      <h1>Who Am I?</h1>
      <p>I'm Joe! I am a fullstack web developer based in San Francisco. I use the MERN stack with an emphasis on frontend.</p>
      <p>On the side, I have a passion for creating user experiences that are surprising, surreal, and otherwordly. Although not always very practical, pushing the limits of the medium of web development makes me and the web itself better. </p>
      <p>Other areas of personal interest are funk trombone, antiquated anthropology, and dad jokes.
      <p style="font-weight: bold;">Core Technologies:</p>
      <p style="color: #c0392b">Frontend: HTML5, CSS3, Javascript, ES6, jQuery, jQuery-UI, React, Redux, React Native, Handlebars, Jade/Pug, Bootstrap, Materialize, Canvas</p>
      <p style="color: #2980b9;">Backend: Node.Js, Express, MongoDB, RESTful API’s, Socket.io, Python, Flask</p>
      <p style="color: #8e44ad">Tools: Git, Github, Slack</p>
      <a href="#canvas">View Projects</a>
    </div>
  </div>


  <!-- <div class="projects"> -->
    <canvas id="canvas"></canvas>

    <div class="projecttext">
      <h1>Explore my selected products and apps.</h1>
    </div>
    <div class="projectcontainer">

      <div class="project"><a href="http://www.codingforkids.us"><img class="projimg" src="/images/cfd.png" /></a></div>
      <div class="project"><a href="http://www.hypecam.io"><img class="projimg" src="https://preview.ibb.co/c7e4Ry/Screen_Shot_2018_07_18_at_5_33_01_PM.png" /></a></div>
      <div class="project"><a href="http://www.digifridge.co"><img class="projimg" src="https://preview.ibb.co/mTQ8Wc/Screen_Shot_2018_04_03_at_6_45_03_PM.png" /></a></div>
      <div class="project"><a href="http://www.skedge.io"><img class="projimg" src="/images/skedge.png" /></a></div>
      <div class="project"><a href="http://www.2b2t.online"><img class="projimg" src="https://image.ibb.co/bSH2Dd/Screen_Shot_2018_07_18_at_5_30_23_PM.png" /></a></div>
      <div class="project"><a href="http://www.2b2t.reviews"><img class="projimg" src="https://preview.ibb.co/gF6G0p/Screen_Shot_2018_08_09_at_2_33_59_PM.png" /></a></div>
      <div class="project"><a href="http://www.joerezendes.com/projects/Woah.css/"><img class="projimg" src="https://cdn-ak-scissors.b.st-hatena.com/image/square/5db7cdc18f1914a010a3e2f5fdb78faa6c168407/height=280;version=1;width=400/http%3A%2F%2Fkachibito.net%2Fwp-content%2Fuploads%2F2018%2F03%2Fwoah01.jpg" /></a></div>
      <div class="project"><a href="http://www.joerezendes.com/projects/flipbooklibrary/"><img class="projimg" src="https://image.ibb.co/c4KiLS/Screen_Shot_2018_03_28_at_5_13_18_PM.png" /></a></div>
      <div class="project"><a href="https://chrome.google.com/webstore/detail/makeschool-dashboard/canfancchgegidjmiagefehimmmchjgi"><img class="projimg" src="https://image.ibb.co/jcNBjx/Screen_Shot_2018_04_03_at_6_54_35_PM.png" /></a></div>
      <div class="project"><a href="http://www.nullsociety.org"><img class="projimg" src="https://image.ibb.co/kNcGHH/Screen_Shot_2018_04_03_at_6_56_08_PM.png" /></a></div>
      <div class="project"><a href="http://www.epicduelstories.com"><img class="projimg" src="https://image.ibb.co/fhKfRU/Screen_Shot_2018_08_09_at_2_24_56_PM.png" /></a></div>
      <div class="project"><a href="https://nonchalance.herokuapp.com/"><img class="projimg" src="https://preview.ibb.co/eLW44x/Screen_Shot_2018_04_03_at_6_58_47_PM.png" /></a></div>
    </div>
  <!-- </div> -->


</div>
<script src="./canvas.js"></script>
