<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Joe Rezendes | Software Engineer</title>
  <meta name="og:title" property="og:title" content="Joe Rezendes | Software Engineer">
  <meta name="description" content="Joe Rezendes is a Software Engineer, Front End web developer, funk trombonist, and small business owner based in San Francisco.">
  <meta property="og:image" content="https://joerezendes.ghost.io/content/images/2020/08/joe-rezendes-1.png" />
  <link rel="icon" href="/images/favicon.png" type="image/png" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,300,400|Roboto:100,200,300,400" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126885545-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126885545-1');
  </script>

</head>
<body>
  
  {{{body}}}

</body>
</html>
