<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Joe Rezendes</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,300,400|Roboto:100,200,300,400" rel="stylesheet">
  <link rel="stylesheet" href="/portfolio/index.css">
</head>
<body>
  {{{body}}}

  <script src="/smooth.js"></script>
  <script src="/portfolio/index.js"></script>
</body>
</html>
