<link rel="stylesheet" href="/book.css">



<div class="book">
  <div class="open">
    <div class="page pg1">
      The Book of Life
    </div><!--page-->
    <div class="page pg2">
      Page two
    </div><!--page2-->
  </div><!--open-->
</div><!--book-->









<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
<script src="/book.js"></script>
