<link rel="stylesheet" href="/book.css">



<!-- <div class="book">
  <div class="open">

    <div class="cover">

    </div>

    <div class="title">
      The Book of Life
    </div>

    <div class="top">
      <center>
        <div class="halfline">
        </div>
      </center>
    </div>

    <div class="page pg1">
      <h1>The Book of Life</h1>
    </div><!--page-->
    <!-- <div class="page pg2">
      <h1>Page two</h1>
    </div><!--page2-->

    <!-- <div class="page pg3">
      <h1>Page three</h1>
    </div><!--page3-->

    <!-- <div class="page pg4">
      <h1>Page four</h1>
    </div><!--page4-->

    <!-- <div class="page pg5">
      <h1>Page Five</h1>
    </div><!--page5-->



  <!-- </div><!--open-->
<!-- </div><!--book-->


<div class="book">

  <div class="bookTop"></div>

  <div class="bookSide">The Book of Life</div>

  <div class="page cover">
    The Book of Life
  </div>

  <div class="firstPage">
    Page One
  </div>

</div>




<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
<script src="/book.js"></script>
