




<div class="book hoveit">

  <div class="bookTop"></div>

  <div class="bookSide">The Book of Life</div>

  <div class="bookSide2">pages</div>


  <div class="backBook">Back of book</div>

  <div class="page cover">
    The Book of Life
  </div>

  <div class="page pagecontent fifthPage bookBack">
    Page five
  </div>


  <div class="page pagecontent fourthPage">
    Page four
  </div>


  <div class="page pagecontent thirdPage">
    Page three
  </div>

  <div class="page pagecontent secondPage">
    Page two
  </div>

  <div class="page firstPage">
    Page One
  </div>





</div>




<h1 style="display: none;" align="center" id="typed" class="root1Text"></h1>
<script src="/book.js"></script>
