
<div class="preloader">

  <div class="typingbox">
  <h1 align="center" id="typed" class="root1Text"></h1>
  </div>

  <img class="preloadimg animated wobble infinite" height="200px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
  <center>
    <button class="proceed">Proceed</button>
  </center>

</div>

<div id="droppable" class="heaven">

  <div class="typingbox">
  <h1 style="color: white;" align="center" id="typed2" class="root2Text"></h1>
  </div>

  <div class="blackbox"></div>

  <center>
    <br>
    <div class="animated pulse infinite">
      <img id="draggable" class="animated pulse infinite" src="http://webiconspng.com/wp-content/uploads/2017/09/Angel-PNG-Image-85900.png">
    </div>

    <h3 class="angelmover">Move Angel Outside Box</h3>

  </center>



</div>


<div class="hell">

<button class="hellbtn">GET ME OUT</button>

<div class="hellimg">
  <div class="container">
    <center>
      <img class="joehelps" height="300px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
      <p class="phelps" style="color: white; background: black; width: 225px">I, JOE REZENDES, FULLSTACK WEB DEVELOPER, WILL HELP YOU!</p>

      <button class="hellbtn2">How Do I Know You're Experienced Enough To Help Me?</button>

    </center>
  </div>
</div>

<div class="hellimg2">
  <div class="container">
    <center>
      <img class="joehelps2" height="300px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
      <p class="phelps2" style="color: white; background: black; width: 225px">I SUPPOSE I WILL HAVE TO SHOW YOU MY EXPERIENCE!</p>

      <button class="hellbtn3">Sounds good...</button>
    </center>
  </div>
</div>

</div>


<div class="speechUp">

  <h1 class="upgradetext">Speech Increased By 10</h1>

</div>

<!--portfolio-->

<div class="portfolio">


  <div class="portimg">
    <div class="container">
      <center>

          <img class="portjoehelps" height="300px" src="https://image.ibb.co/mvrFi7/image1_2.jpg">
          <p align="left" class="porthelps" style="width: 225px">We're going to go on an insane adventure! On the way I am going to show you the products I've shipped, and what I learned making them.</p>

        <button class="portbtn">Where Are We?</button>

      </center>
    </div>
  </div>

  <div class="portimg2">
    <div class="container">
      <center>

          <img class="portjoehelps2" height="300px" src="https://image.ibb.co/mvrFi7/image1_2.jpg">
          <p align="left" class="porthelps2" style="width: 225px">We are in the land of all possibility. We all start off here. Everything starts as a blank white page. But with a little imagination…</p>

        <button class="portbtn2">Imagine</button>

      </center>
    </div>
  </div>




  <div class="skilltree">
  <h3 align="center">Skill Tree</h3>
  <hr>
  <p align="center">Speech: 10</p>
  </div>

</div><!--portfolio-->




<div class="sunflowers">

  <div class="sunflowerimg">
    <div class="container">
      <center>
        <img class="joesunhelps animated rollIn" height="300px" src="https://image.ibb.co/nEHY37/imageedit_4_9647274453.png">
        <p class="psunhelps" style="color: white;  width: 225px">With a text editor, a bit of Javascript, and some stylesheets, we can create the most wonderful stories and user experiences!</p>

        <button class="sunbtn">Go on…</button>

      </center>
    </div>
  </div>

  <div class="sunflowerimg2">
    <div class="container">
      <center>
        <img class="joesunhelps2 animated zoomInUp" height="300px" src="https://image.ibb.co/fMRJmS/imageedit_2_2291946679.png">
        <p class="psunhelps" style="color: white;  width: 225px">Are You Hungry?</p>

        <button style="margin-right: 10px;" id="yeshungry" class="sunbtn2">Yes.</button>        <button id="nohungry" class="sunbtn3">No.</button>


      </center>
    </div>
  </div>


</div><!--Sunflowers-->

<div class="digifridge"><!--Yes hungry-->
  <div class="container">
    <div class="gridcon">
      <div class="a">a</div>
      <div class="b">b</div>
      <div class="c">c</div>
      <div class="d">d</div>
      <div class="e">e</div>
    </div>
  </div>
</div>
