
<div class="preloader">

  <div class="typingbox">
  <h1 align="center" id="typed" class="root1Text"></h1>
  </div>

  <img class="preloadimg animated wobble infinite" height="200px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
  <center>
    <button class="proceed">Proceed</button>
  </center>

</div>

<div id="droppable" class="heaven">

  <div class="typingbox">
  <h1 style="color: white;" align="center" id="typed2" class="root2Text"></h1>
  </div>

  <div class="blackbox"></div>

  <center>
    <br>
    <div class="animated pulse infinite">
      <img id="draggable" class="animated pulse infinite" src="http://webiconspng.com/wp-content/uploads/2017/09/Angel-PNG-Image-85900.png">
    </div>

    <h3 class="angelmover">Move Angel Outside Box</h3>

  </center>



</div>


<div class="hell">

<button class="hellbtn">GET ME OUT</button>

<div class="hellimg">
  <div class="container">
    <center>
      <img class="joehelps" height="300px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
      <p class="phelps" style="color: white; background: black; width: 225px">I, JOE REZENDES, FULLSTACK WEB DEVELOPER, WILL HELP YOU!</p>

      <button class="hellbtn2">How Do I Know You're Experienced Enough To Help Me?</button>

    </center>
  </div>
</div>

<div class="hellimg2">
  <div class="container">
    <center>
      <img class="joehelps2" height="300px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
      <p class="phelps2" style="color: white; background: black; width: 225px">I SUPPOSE I WILL HAVE TO SHOW YOU MY EXPERIENCE!</p>

      <button class="hellbtn3">Sounds good...</button>
    </center>
  </div>
</div>

</div>


<div class="speechUp">

  <h1 class="upgradetext">Speech Increased By 10</h1>

</div>


<div class="portfolio">


</div>

<div class="skilltree">
<h3 align="center">Skill Tree</h3>
<hr>
<p align="center">Speech: 10</p>
</div>
