
<div class="preloader">

  <div class="typingbox">
  <h1 align="center" id="typed" class="root1Text"></h1>
  </div>

  <img class="preloadimg animated wobble infinite" height="200px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
  <center>
    <button class="proceed">Proceed</button>
  </center>

</div>

<div id="droppable" class="heaven">

  <div class="typingbox">
  <h1 style="color: white;" align="center" id="typed2" class="root2Text"></h1>
  </div>

  <div class="blackbox"></div>

  <center>
    <br>
    <div class="animated pulse infinite">
      <img id="draggable" class="animated pulse infinite" src="http://webiconspng.com/wp-content/uploads/2017/09/Angel-PNG-Image-85900.png">
    </div>

    <h3 class="angelmover">Move Angel Outside Box</h3>

  </center>



</div>


<div class="hell">

<button class="hellbtn">GET ME OUT</button>

<div class="hellimg">
  <div class="container">
    <center>
      <img height="300px" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/21558698_1361020067359048_2426487994367727625_n.jpg?oh=351197d52d1c30e1bdad3820af81b11c&oe=5B1088E9">
      <p style="color: white">I, JOE REZENDES, FULLSTACK WEB DEVELOPER, WILL HELP YOU!</p>
    </center>
  </div>
</div>

</div>
