
<div class="preloader">

  <div class="typingbox">
  <h1 align="center" id="typed" class="root1Text"></h1>
  </div>

  <img class="preloadimg animated wobble infinite" height="200px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
  <center>
    <button class="proceed">Proceed</button>
  </center>

</div>

<div id="droppable" class="heaven">

  <div class="typingbox">
  <h1 style="color: white;" align="center" id="typed2" class="root2Text"></h1>
  </div>

  <div class="blackbox"></div>

  <center>
    <br>
    <div class="animated pulse infinite">
      <img id="draggable" class="animated pulse infinite" src="http://webiconspng.com/wp-content/uploads/2017/09/Angel-PNG-Image-85900.png">
    </div>

    <h3 class="angelmover">Move Angel Outside Box</h3>

  </center>



</div>


<div class="hell">

<button class="hellbtn">GET ME OUT</button>

<div class="hellimg">
  <div class="container">
    <center>
      <img class="joehelps" height="300px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
      <p class="phelps" style="color: white; background: black; width: 225px">I, JOE REZENDES, FULLSTACK WEB DEVELOPER, WILL HELP YOU!</p>

      <button class="hellbtn2">How Do I Know You're Experienced Enough To Help Me?</button>

    </center>
  </div>
</div>

<div class="hellimg2">
  <div class="container">
    <center>
      <img class="joehelps2" height="300px" src="https://image.ibb.co/mWttkn/image1_1.jpg">
      <p class="phelps2" style="color: white; background: black; width: 225px">I SUPPOSE I WILL HAVE TO SHOW YOU MY EXPERIENCE!</p>

      <button class="hellbtn3">Sounds good...</button>
    </center>
  </div>
</div>

</div>


<div class="speechUp">

  <h1 class="upgradetext">Speech Increased By 10</h1>

</div>

<!--portfolio-->

<div class="portfolio">


  <div class="portimg">
    <div class="container">
      <center>

          <img class="portjoehelps" height="300px" src="https://image.ibb.co/mvrFi7/image1_2.jpg">
          <p align="left" class="porthelps" style="width: 225px">We're going to go on an insane adventure! On the way I am going to show you the products I've shipped, and what I learned making them.</p>

        <button class="portbtn">Where Are We?</button>

      </center>
    </div>
  </div>

  <div class="portimg2">
    <div class="container">
      <center>

          <img class="portjoehelps2" height="300px" src="https://image.ibb.co/mvrFi7/image1_2.jpg">
          <p align="left" class="porthelps2" style="width: 225px">We are in the land of all possibility. We all start off here. Everything starts as a blank white page. But with a little imagination…</p>

        <button class="portbtn2">Imagine</button>

      </center>
    </div>
  </div>




  <div class="skilltree">
  <h3 align="center">Skill Tree</h3>
  <hr>
  <p align="center">Speech: 10</p>
  </div>

</div><!--portfolio-->




<div class="sunflowers">

  <div class="sunflowerimg">
    <div class="container">
      <center>
        <img class="joesunhelps animated rollIn" height="300px" src="https://image.ibb.co/nEHY37/imageedit_4_9647274453.png">
        <p class="psunhelps" style="color: white;  width: 225px">With a text editor, a bit of Javascript, and some stylesheets, we can create the most wonderful stories and user experiences!</p>

        <button class="sunbtn">Go on…</button>

      </center>
    </div>
  </div>

  <div class="sunflowerimg2">
    <div class="container">
      <center>
        <img class="joesunhelps2 animated rubberBand" height="300px" src="https://image.ibb.co/fMRJmS/imageedit_2_2291946679.png">
        <p class="psunhelps" style="color: white;  width: 225px">Are You Hungry?</p>

        <button style="margin-right: 10px;" id="yeshungry" class="sunbtn2">Yes.</button>        <button id="nohungry" class="sunbtn3">No.</button>


      </center>
    </div>
  </div>


</div><!--Sunflowers-->

<div class="digifridge"><!--Yes hungry-->
  <div class="container">
    <div class="gridcon">

      <div class="a">
        <div class="atext">
          <h1 align="center">DigiFridge</h1>
          <h3 align="center"><a style="color: #dff9fb;" target="_blank"  href="http://www.digifridge.co/">Visit Website</a></h3>
          <button class="fridgebtn">Continue Adventure</button>
        </div>
      </div>

      <div class="b">
        <h4>Technologies Used:</h4>
        <li>handlebars</li>
        <li>CSS 3</li>
        <li>Jquery</li>
        <li>Jquery UI</li>
        <li>Node JS</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>Socket.io</li>
      </div>

      <div class="c">
          <div class="ctext">
            <h4>Description</h4>

            <p>DigiFridge is the ultimate hipster hub for keeping track of things and communicating with co-workers.</p>

            <h4>Personal Fridges</h4>
            <p>This is your personal fridge. Have fun with it, and send magnets to your FridgeFriends to communicate back and forth. You can create magnets for your fridge, and you can also click and drag them around your fridge. Send magnets to community fridges you are a part of.</p>

            <h4>Community Fridges</h4>
            <p>This fridge is accessable by everyone in a user created community. Perfect for co-workers and teams to share a fridge. Communities can send magnets to personal fridges of team members and other community fridges that choose to associate with each other.</p>

            <h4>The Mother Fridge</h4>
            <p>This is accessible by everyone. It is the mother of all fridges. Everyone can put things on the mother fridge. Everyone can take things out of the mother fridge. The mother fridge is cleaned out regularly.</p>

            <h4>How To Use</h4>
            <p>Bob says to Bill, "Hey Bill, when you get back from Lunch can you swing by my desk?" Bill says to Bob, "Sure, put that on my Fridge so I'll remember about it when I get back." Bob says "Sure thing Bill."</p>
          </div>
      </div>

      <div class="d">
        <h4>Challanges Faced/Extra Notes</h4>
        <p>Getting DigiFridge to work on mobile proved to be a difficult challange to solve. Jquery UI does not work on mobile on it's own, so I had to use another library, and then work form there.</p>
        <p>I had to take a couple of open sourced solutions for mobile use.</p>
        <p>Making everything sync up in real time was a hard issue to face. Socket.io solved this extremely well!</p>
        <p>I encourage pulling up a version on your desktop and your phone, and watching things move in real time across devices.</p>
      </div>

      <div class="e">
        <h4>Github</h4>

        <a href="https://github.com/joerez/DigiFridge.co">View On GitHub</a>

        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/joerez/digifridge.co" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star joerez/digifridge on GitHub">Star</a>

        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/joerez" data-size="large" data-show-count="true" aria-label="Follow @joerez on GitHub">Follow @joerez</a>


      </div>

    </div>

    <br>

  </div><!--container-->

  <div class="adventurecontinues">
    <h1>LET'S CONTINUE!</h1>
    <button id="continueadventure" class="fridgebtn2">Next Project</button>
    <button id="dontcontinue" class="fridgebtn2">Stay Here</button>

  </div>

</div><!--digifridge-->
