<canvas></canvas>

<div class="hero">
  <h1 class="hero-title">
    <span class="minimal-hover">J</span><span class="minimal-hover">o</span><span class="minimal-hover">e</span>
     <br />
     <span class="underline">
       <span class="minimal-hover">R</span><span class="minimal-hover">e</span><span class="minimal-hover">z</span><span class="minimal-hover">e</span><span class="minimal-hover">n</span><span class="minimal-hover">d</span><span class="minimal-hover">e</span><span class="minimal-hover">s</span>
     </span>
  </h1>
  <h2 class="hero-sub-title">Fullstack Web Developer</h2>
  <a target="_blank" href="https://github.com/joerez"><img class="icon-img" src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67"></a>
  <a target="_blank" href="https://www.linkedin.com/in/joerezendes/"><img class="icon-img" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" /></a>
  <a target="_blank" href="mailto:rezenbiz@gmail.com"><img class="icon-img" src="https://image.ibb.co/m89F39/imageedit_3_7474880412.png" /></a>

</div>

<img class="joe" src="https://image.ibb.co/b13N0p/0_ED575_AF_ABF2_4_AE2_9586_EAF22_B5_B5101.png" />

  <!-- <div class="skills">
    <div class="skills-content">
      <h1 class="skills-heading">Core Skills</h1>
      <p style="color: #c0392b"><span class="bolder">Frontend</span>: HTML5, CSS3, Javascript, ES6, React, Redux, React Native, Handlebars, Jade/Pug, Bootstrap, Materialize, Canvas</p>
      <p style="color: #2980b9;"><span class="bolder">Backend</span>: Node.Js, Express, MongoDB, RESTful API’s, Socket.io, Python, Flask</p>
      <p style="color: #8e44ad"><span class="bolder">Tools</span>: Git, Github, Slack</p>
    </div>
    <img class="skill-img" src="https://avatars0.githubusercontent.com/u/30890987?s=460&v=4">
    <div class="about-me">
      <h1 class="skills-heading">About Me</h1>
      <p style="color: #8e44ad"><span class="bolder">I am</span> a Fullstack Web Developer based in San Francisco. Creating beautiful software is my way of creating a better world. </p>
      <p style="color: #c0392b"><span class="bolder">I specialize</span> in creating innovative high quality user experiences.</p>
      <p style="color: #2980b9;"><span class="bolder">Interests</span>: Funk Trombone, Ancient Philosophy, Air Hockey, and Dad Jokes</p>
    </div>
</p>
  </div>


  <div class="portfolio">
    <h1>Skedge.io</h1>
    <h1>CodingForKids.us</h1>
    <h1>2b2t.online</h1>
    <h1>EpicDuelStories</h1>
    <h1>2b2t.reviews</h1>
    <h1>Woah.css</h1>
    <h1>SimpleFlipbook.js</h1>
    <h1>MakeSchool Chrome New Tab</h1>
  </div> -->
<script src="/canvas.js"></script>
