<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/new-port/index.css">

<div class="global-container">
    <header class="navbar">
        <a href="/">
            <img class="logo" height="70" src="https://i.imgur.com/1T5kFXg.png" />
        </a>

        <div class="link-con">
            <a class="nav-link-box" href="/projects">Portfolio</a>
            <a class="nav-link-box" href="https://www.joe.gives?ref=portfolio">Joe.Gives</a>
            <a class="nav-link-box" href="https://blog.joerezendes.com?rel=portfolio">Blog</a>

        </div>
    </header>


    <main>
        <div class="main-banner">
            <a target="_blank" href="https://github.com/joerez"><img class="icon-img" src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67"></a>
            <a target="_blank" href="https://www.linkedin.com/in/joerezendes/"><img class="icon-img" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" /></a>
            <a target="_blank" href="mailto:odd@hey.com"><img class="icon-img" src="https://image.ibb.co/m89F39/imageedit_3_7474880412.png" /></a>
        </div>
        
        <section class="about" id="#about">
            <h1 class="skills-heading">About Joe Rezendes</h1>
            <p class="blue"><span class="bolder">I am</span> a Fullstack Web Developer based in San Francisco. Creating beautiful software is my way of creating a better world.</p>
            <p class="red"><span class="bolder">I specialize</span> in creating innovative high quality user experiences.</p>
            <p class="pink"><span class="bolder">Other Interests</span>: Funk Trombone, Western Esotericsm, Air Hockey, stock options, oxford commas, and dad jokes.</p>

            <p class="skills-heading">Interesting Open Source Contributions</p>
            <p><a target="_blank" href="https://facebook.github.io/create-react-app/">FaceBook - Create React App</a>
            <p><a target="_blank" href="https://facebook.github.io/react-native/">FaceBook - React Native</a>
            <P>See my <a target="_blank" href="https://github.com/joerez">Github</a> to view individual contributions.</P>

            <p>Check out my CSS Art on <a target="_blank" href="https://codepen.io/hermes/">CodePen</a></p>

            <h1 class="skills-heading">Core Skills</h1>
            <p class="bolder blue">Frontend: HTML5, CSS3, Javascript, ES6, React, Redux, React Native, Angular 8, Handlebars, Jade/Pug, Twig, Canvas, ChartJS, jQuery, Bootstrap, Materialize, GSAP, Lottie</p>
            <p class="bolder red">Backend: Node.Js, Express, MongoDB, RESTful API’s, Socket.io, Pubnub, AWS S3</p>
            <p class="bolder pink">Other: Figma, Invision, Sketch, Slack, Heroku, Jenkins, Canva, Sendgrid, Twilio, MailGun</p>

            <div class="cta-con">
                <a class="nav-link-box desktop-fifty" href="/projects">See side projects</a>
            </div>
        </section>
    </main>
</div>

<script src="/new-port/index.js"></script>
