
<div id="first" class="first navigate-in">
  <canvas></canvas>

  <div class="hero">
    <h1 class="hero-title">
      <span class="minimal-hover">J</span><span class="minimal-hover">o</span><span class="minimal-hover">e</span>
       <br />
       <span class="underline">
         <span class="minimal-hover">R</span><span class="minimal-hover">e</span><span class="minimal-hover">z</span><span class="minimal-hover">e</span><span class="minimal-hover">n</span><span class="minimal-hover">d</span><span class="minimal-hover">e</span><span class="minimal-hover">s</span>
       </span>
    </h1>
    <h2 class="hero-sub-title">Fullstack Web Developer</h2>
    <a target="_blank" href="https://github.com/joerez"><img class="icon-img" src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67"></a>
    <a target="_blank" href="https://www.linkedin.com/in/joerezendes/"><img class="icon-img" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" /></a>
    <a target="_blank" href="mailto:rezenbiz@gmail.com"><img class="icon-img" src="https://image.ibb.co/m89F39/imageedit_3_7474880412.png" /></a>

  </div>

  <img class="joe" src="https://image.ibb.co/b13N0p/0_ED575_AF_ABF2_4_AE2_9586_EAF22_B5_B5101.png" />
</div>





<div id="second" class="second skills none">
  <div class="top-bar"></div>
  <div class="about-me">
    <h1 class="skills-heading">About Me</h1>
    <p style="color: #8e44ad"><span class="bolder">I am</span> a Fullstack Web Developer based in San Francisco. Creating beautiful software is my way of creating a better world. </p>
    <p style="color: #c0392b"><span class="bolder">I specialize</span> in creating innovative high quality user experiences.</p>
    <p style="color: #2980b9;"><span class="bolder">Interests</span>: Funk Trombone, Ancient Philosophy, Air Hockey, and Dad Jokes</p>
  </div>

  <div class="skills-content">
    <h1 class="skills-heading">Core Skills</h1>
    <p style="color: #c0392b"><span class="bolder">Frontend</span>: HTML5, CSS3, Javascript, ES6, React, Redux, React Native, Handlebars, Jade/Pug, Bootstrap, Materialize, Canvas</p>
    <p style="color: #2980b9;"><span class="bolder">Backend</span>: Node.Js, Express, MongoDB, RESTful API’s, Socket.io, Python, Flask, Mocha, Chai</p>
    <p style="color: #8e44ad"><span class="bolder">Tools</span>: Git, Github, Slack</p>
  </div>

  <div class="portfolio">
    <h1 class="tut-title">Selected Projects</h1>
    <p class="tut-p">See <a target="_blank" href="https://github.com/joerez">Github</a> for more.</p>

    <div class="projects-container">
      <div class="proj-div">
        <div class="proj-img-container"><a target="_blank" href="https://www.skedge.io"><img class="proj-img" src="https://image.ibb.co/eBiaX9/Text_placeholder.png" /></a></div>
        <div class="proj-content">
          <h1>Skedge</h1>
          <p>Skedge is a full stack React application that helps businesses grow as they schedule appointments.</p>
          <p>It's front end technologies are react and redux.</p>
          <p>Skedge is a personal project with the potential to become a fully fledged Software as a Service once it's complete.</p>
          <p>Along designing, coding, and shipping the entire Front end, I also did a bit of the back end, Including setting up the authentication, and creating different envirements for production and development.</p>
          <p>To date, it's my most ambitious personal project. I'm collaboratng with another full stack engineer that focuses more on the backend of the application, while I work on the front end.</p>
          <a target="_blank" href="https://www.skedge.io">Visit Skedge.io</a>
        </div>
      </div>

      <div class="proj-div-reverse">
        <div class="proj-content">
          <div class="right-side">
            <h1>2b2t.online</h1>
            <p>Out of all of my projects, 2b2t.online get's the most traffic. (600+ a week)</p>
            <p>2b2t.online was built for a small community of gamers on a Minecraft server. The problem they had was that there were tons of different creations, but nobody knew where they were</p>
            <p>I created 2b2t.online to solve that problem, by giving users a way to record coordinates of different places for others to find.</p>
            <p>2b2t.online also serves the community as a Wiki, and a social network.</p>
            <p>I also built up a team of dedicated moderators to keep the content clean.</p>
            <p>It was developed with MongoDB, Express, Handlebars for templating, and NodeJS.</p>
            <a target="_blank" href="https://www.2b2t.online">Visit 2b2t.online</a>
          </div>
        </div>
        <div class="proj-img-container">
          <a target="_blank" href="http://www.2b2t.online"><img class="proj-img" src="https://image.ibb.co/bycah9/Text_placeholder_4.png" /></h1>
        </div>
      </div>

      <div class="proj-div">
        <div class="proj-img-container">
          <a target="_blank" href="http://www.joerezendes.com/projects/Woah.css/"><img class="proj-img" height="200px" src="https://preview.ibb.co/gdb7vU/Text_placeholder_5.png" /></a>
        </div>
        <div class="proj-content">
          <h1>Woah.css</h1>
          <p>Woah.css is an open source CSS Animation Library for eccentric developers.</p>
          <p>I've really enjoyed using other CSS Animation libraries as a student, and I ventured out to create one of my own.</p>
          <p>The results of that became my most popular github repository by far with over 150 stars.</p>
          <p>It trended on Github and was the  top post of March, 2018 on Reddit’s Frontend subreddit.</p>
          <p>You can install woah.css through npm or bower as well. It was my first published npm package.</p>
          <p>You can view my medium article about woah.css <a target="_blank" href="https://medium.com/@joerezendes_91375/need-stars-on-github-21a2fab3550d">Here.</a>
          <p><a target="_blank" href="http://www.joerezendes.com/projects/Woah.css/">Visit Woah.css</a></p>
        </div>
      </div>

      <a target="_blank" href="http://www.codingforkids.us"><img class="port-img" height="200px" src="https://image.ibb.co/cZfuQU/Text_placeholder_1.png" /></a>
      <a target="_blank" href="http://www.hypecam.io"><img class="port-img" height="200px" src="https://image.ibb.co/hM7paU/Text_placeholder_6.png" /></h1>
      <a target="_blank" href="http://www.epicduelstories.com"><img class="port-img" height="200px" src="https://image.ibb.co/c3AQFU/Text_placeholder_7.png" /></a>
      <a target="_blank" href="https://www.officebubbles.io"><img class="port-img" height="200px" src="https://image.ibb.co/dxVCDe/Text_placeholder_13.png" /></a>
      <a target="_blank" href="https://github.com/joerez/MERN-SPA-Starter"><img class="port-img" height="200px" src="https://image.ibb.co/cBAd29/Text_placeholder_9.png" /></a>
      <a target="_blank" href="http://www.2b2t.reviews"><img class="port-img" height="200px" src="https://preview.ibb.co/mepMN9/Text_placeholder_10.png" /></a>
      <a target="_blank" href="http://www.joerezendes.com/projects/flipbooklibrary/"><img class="port-img" height="200px" src="https://image.ibb.co/cpuSvU/Text_placeholder_11.png" /></a>
      <a target="_blank" href="https://chrome.google.com/webstore/detail/makeschool-dashboard/canfancchgegidjmiagefehimmmchjgi"><img class="port-img" height="200px" src="https://image.ibb.co/fiasvU/Text_placeholder_12.png" /></a>
    </div>

    <h1 class="tut-title">Publications</h1>
    <p>The following are Medium Articles I've published that releate to my professional experience.</p>
    <div class="projects-container">

      <a class="no-dec" target="_blank" href="https://medium.com/@joerezendes_91375/need-stars-on-github-21a2fab3550d">
        <article class="article-container port-img">
          <h1 class="blue">Need Stars on GitHub? Build Open Source Libraries!</h1>
          <p>This was write up  I did after my CSS Animation Library started trending on Reddit and Github.</p>
          <p>My main takeaway was that building open source libraries was well within my capabilties, and the only thing that stopped me from doing it before was my own self doubt.</p>
          <h3 class="blue">Read More</h3>
        </article>
      </a>

      <a class="no-dec" target="_blank" href="https://medium.com/@joerezendes_91375/how-i-learned-cyber-security-by-being-attacked-by-reddit-trolls-28671984bd62">
        <article class="article-container port-img">
          <h1 class="blue">How I learned Cyber Security by being attacked by Reddit trolls</h1>
          <p>After building my first web application I wanted to show it off on Reddit, which lead to my site getting attacked.</p>
          <p>This lead to me learning how to secure my API's and preventing spam form malicious users.</p>
          <h3 class="blue">Read More</h3>
        </article>
      </a>

      <a class="no-dec" target="_blank" href="https://medium.com/@joerezendes_91375/the-rise-of-mongodb-8ac6f7cb8a95">
        <article class="article-container port-img">
          <h1 class="blue">The Rise of MongoDB - Why MongoDB is taking over</h1>
          <p>I really like using noSQL databases because they're easier to change halfway through development.</p>
          <p>This article shows why startups are turning to noSQL databases over traditional SQL databases.</p>
          <h3 class="blue">Read More</h3>
        </article>
      </a>

    </div>

    <h1 class="tut-title">Tutorials</h1>
    <p class="tut-p">These are the tutorials I published for the Makeschool product college frontend curriculum.</p>

    <div class="projects-container">
      <a target="_blank" href="https://github.com/MakeSchool-Tutorials/Make-Cookies"><img class="port-img" height="200px" src="https://github.com/MakeSchool-Tutorials/Make-Cookies/raw/master/cover.png" /></a>
      <a target="_blank" href="https://github.com/MakeSchool-Tutorials/We-Sell-Shoes"><img class="port-img" height="200px" src="https://github.com/MakeSchool-Tutorials/We-Sell-Shoes/raw/master/cover.png" /></a>
    </div>

  </div>
</div>

<div id="nav-btn" class="nav-btn"><i class="fas fa-bars"></i></div>
<nav id="nav">
  <h1 id="home" class="nav-h1">Home</h1>
  <h1 id="portfolio" class="nav-h1">Portfolio</h1>

</nav>

<script src="/canvas.js"></script>
