<link rel="stylesheet" href="/new-port/index.css">
<div class="global-container">
    <header class="navbar">
        <a href="/">
            <img class="logo" height="70" src="https://i.imgur.com/1T5kFXg.png" />
        </a>

        <div class="link-con">
            <a class="nav-link-box" href="/">Home</a>

            <a class="nav-link-box" href="https://blog.joerezendes.com?rel=portfolio">Blog</a>

        </div>
    </header>

    <main>
        <div class="main-banner">
            <a target="_blank" href="https://github.com/joerez"><img class="icon-img" src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67"></a>
            <a target="_blank" href="https://www.linkedin.com/in/joerezendes/"><img class="icon-img" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" /></a>
            <a target="_blank" href="mailto:odd@hey.com"><img class="icon-img" src="https://image.ibb.co/m89F39/imageedit_3_7474880412.png" /></a>
        </div>

        <section class="about no-radius" id="#about">



            <div class="portfolio">
                <h1 class="tut-title">Selected Personal Projects</h1>
                <p>A few projects may no longer be fully functional due to mLab's discontinued Heroku addon.</p>
                <p>Additionally, because my free heroku dynos is usually filled up in a few days each month, some non-premium dynos websites may appear offline.</p>
                <p class="tut-p">Feel free to see my <a target="_blank" href="https://github.com/joerez">Github</a> for even more projects.</p>

                <div class="projects-container">
                <div class="proj-div">
                    <div class="proj-content">
                    <h1>Skedge</h1>
                    <div class="proj-img-container bottom-margin">
                        <a  target="_blank" href="http://www.skedge.io"><img class="proj-img port-img"  alt="Skedge.io" src="https://i.imgur.com/mgkNQDr.png" /></a>
                    </div>
                    <p>Skedge is a full stack web application that helps businesses grow as they schedule appointments.</p>
                    <p>It's front end technologies are React and Redux.</p>
                    <p>Skedge is a personal project with the potential to become a fully fledged Software as a Service once it's complete.</p>
                    <p>Along designing, coding, and shipping the entire Front end, I also did a bit of the back end, Including setting up the authentication, and creating different envirements for production and development.</p>
                    <p>To date, it's my most ambitious personal project. I'm collaboratng with another full stack engineer that focuses more on the backend of the application, while I work on the front end.</p>
                    <a target="_blank" href="http://www.skedge.io">Visit Skedge.io</a>
                    <br />
                    <br />
                    <a target="_blank" href="https://github.com/skedge-io/skedge">View on Github</a>
                    </div>
                </div>

                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>OnSiteGamers.com</h1>
                        <div class="proj-img-container bottom-margin">
                            <a target="_blank" href="http://www.onsitegamers"><img alt="OnSiteGamers" class="port-img proj-img" src="https://i.imgur.com/QLQ8MWw.png" /></a>
                        </div>
                        <p>"Do you want to make your company look Hip and Cool for prospective hires? Do you have a gaming system setup in a common area, but none of your employees use it? We have a solution for you. Hire a gamer!"</p>
                        <p>OnSiteGamers was made as a satirical/gag product to poke fun of various different startups that don't actually solve real problems.</p>
                        <p>I built this in about a day after discussing it with some friends.</p>
                        <p>We thought that it was a ridiculous concept, and that it had to exist, at the very least as a gag.</p>
                        <p>I was able to build it pretty quickly by just using the EpicDuelStories repo and changing some things around.</p>
                        <p>Nothing technologically impressive here, but it was fun to make another joke project after Woah.CSS and OfficeBubbles, and this was a good start for 2020.</p>
                        <p><a target="_blank" href="http://www.onsitegamers.com">View Website</a></p>
                    </div>
                    </div>
                </div>


                <br /><br />
                <div class="proj-div">
                    <div class="proj-content">
                    <h1>ClientBird</h1>
                     <div class="proj-img-container bottom-margin">
                        <a  target="_blank" href="https://www.clientbird.io"><img class="proj-img port-img" src="https://i.imgur.com/iMTnp73.png" /></a>
                    </div>
                    <p>ClientBird is a project that aims to make communication between contractors and their clients seamless.</p>
                    <p>Built as a full stack web application running on MongoDB, Express, React, Redux, and Node.</p>
                    <p>Acting as a co-founder with another full-stack engineer. We both also serve as designers.</p>
                    <p>One of the great things about working on ClientBird has been the feeling of personal growth. Since it's (more or less) the 5th full stack React app I've launched, I now feel extremely comfortable working in this tech stack.</p>
                    <a target="_blank" href="https://www.clientbird.io">Visit ClientBird</a>
                    </div>
                </div>


                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>2b2t.online</h1>
                        <div class="proj-img-container bottom-margin">
                            <a target="_blank" href="http://www.2b2t.online"><img class="proj-img port-img" src="https://i.imgur.com/6pdyyQj.png" /></a>
                        </div>

                        <p>Out of all of my projects, 2b2t.online gets the most traffic. (2000+ a week)</p>
                        <p>2b2t.online was built for a small community of gamers on a Minecraft server. The problem they had was that there were tons of different creations, but nobody knew where they were</p>
                        <p>I created 2b2t.online to solve that problem, by giving users a way to record coordinates of different places for others to find.</p>
                        <p>2b2t.online also serves the community as a Wiki, and a social network.</p>
                        <p>I also built up a team of dedicated moderators to keep the content clean.</p>
                        <p>It was developed with MongoDB, Express, Handlebars for templating, and NodeJS.</p>
                        <a target="_blank" href="https://www.2b2t.online">Visit 2b2t.online</a>
                        <br />
                        <br />
                        <a target="_blank" href="https://github.com/joerez/2b2t.online">View on Github</a>
                    </div>
                    </div>
                </div>

                <div class="proj-div">
                    <div class="proj-content">
                    <h1>Woah.css</h1>
                    <div class="proj-img-container bottom-margin">
                        <a target="_blank" href="http://www.joerezendes.com/projects/Woah.css/"><img alt="Joe Rezendes - Woah.css" class="proj-img port-img" src="https://i.imgur.com/2orWEtN.png" /></a>
                    </div>

                    <p>Woah.css is an open source CSS Animation Library for eccentric developers.</p>
                    <p>I've really enjoyed using other CSS Animation libraries as a student, and I ventured out to create one of my own.</p>
                    <p>The results of that became my most popular github repository by far with over 350 stars.</p>
                    <p>It trended on Github and was the  top post of March, 2018 on Reddit’s Frontend subreddit.</p>
                    <p>You can install woah.css through npm or bower as well. It was my first published npm package.</p>
                    <p>You can view my medium article about woah.css <a target="_blank" href="https://medium.com/@joerezendes_91375/need-stars-on-github-21a2fab3550d">Here.</a>
                    <p><a target="_blank" href="https://www.joerezendes.com/projects/Woah.css/">Visit Woah.css</a></p>
                    <p><a target="_blank" href="https://github.com/joerez/Woah.css">View on Github</a></p>
                    </div>
                </div>



                <div class="proj-div-reverse">
                    <div class="proj-content">
                        <div class="proj-img-container bottom-margin">
                            <a target="_blank" href="http://www.codingforkids.us"><img alt="Coding For Kids" class="proj-img port-img" src="https://i.imgur.com/Xqep0Nn.png" /></a>
                        </div>
                        <div class="right-side">
                            <h1>CodingForKids.us</h1>
                            <p>Originally, CodingForKids was the name of the program I started, where I taught Elementary aged students basic front end development. It was also where I started my career in coding.</p>
                            <p>Before moving to San Francisco, I was teaching in seven different Elementary schools in the East Bay area.</p>
                            <p>Eventually I transitioned CodingForKids into an application that gives CS Majors the ability to tutor students and make extra money on the side</p>
                            <p>I was the sole developer for this, and used MongoDB, Express, Handlebars for templating, and Node. I also designed, coded, and shipped everything from scratch.</p>
                            <p>Transitioned into a Progressive Web App (PWA) by using service workers that cache all the images, javascript, css, etc. which allows users to load the page while completely offline.</p>
                            <p><a target="_blank" href="http://www.codingforkids.us">Visit CodingForKids.us</a></p>
                            <p><a target="_blank" href="https://github.com/joerez/CodingForKids">View on Github</a></p>
                        </div>
                    </div>
                </div>



                <div class="proj-div">
                    <div class="proj-content">
                    <h1>Office Bubbles</h1>
                        <a target="_blank" href="http://www.officebubbles.io"><img alt="Office Bubbles" class="port-img proj-img" src="https://i.imgur.com/A1A4fRq.png" /></a>
                    <p>Office Bubbles is a game about nothing and as such, it has no set goals or accomplishments. It's designed to keep you mindlessly entertained while at your desk.</p>
                    <p>It might even sort of look like you're doing work.</p>
                    <p>I developed Office Bubbles as a Single Page Application using React and React Router, as well as Canvas.</p>
                    <p>For several months I began playing around with and developing interactive hero sections on homepages. I would spend more time than I'm proud of playing around on these. Eventually, this lead to the thought that maybe, just maybe, other people would enjoy playing around with them too.</p>
                    <p>The idea for Office Bubbles came to me one evening, and I spent the next 8 hours designing, coding, and shipping it.</p>
                    <p><a target="_blank" href="http://www.officebubbles.io">Visit Office Bubbles</a></p>
                    <a target="_blank" href="https://github.com/joerez/office-bubbles">View on Github</a>
                </div>
                </div>



                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>HypeCam.io</h1>
                            <div class="proj-img-container bottom-margin">
                            <a target="_blank" href="http://www.hypecam.io"><img alt="HypeCam" class="port-img proj-img" src="https://i.imgur.com/uQeRkxC.png" /></h1>
                            </div>
                        <p>HypeCam was a three month paid contract where I worked as the Lead Full stack Web Developer.</p>
                        <p>I coded and shipped a Node backend for iOS and web that takes requests from the mobile application and posts shareable videos on the website.</p>
                        <p>Collaborated with Designers to create the UI and Frontend from scratch. This was done by the designers giving Figma designs, and I would turn them into HTML, CSS, and Javascript. I used Pug for templating, and sent data from a MongoDb using JSON.</p>
                        <p>Collaborated with three other developers. Two of whom were iOS engineers and the other was the product manager.</p>
                        <p><a target="_blank" href="http://www.hypecam.io">Visit HypeCam.io</a></p>
                        <a target="_blank" href="https://github.com/HypeCam/hypecam">View on Github</a>
                    </div>
                    </div>
                </div>



                <div class="proj-div">
                    <div class="proj-content">
                    <h1>Epic Duel Stories</h1>
                        <div class="proj-img-container bottom-margin">
                        <a target="_blank" href="http://www.epicduelstories.com"><img alt="Epic Duel Stories" class="port-img proj-img" src="https://i.imgur.com/NAJ6dp8.png" /></a>
                        </div>
                    <p>In my youth, I really enjoyed flash games and especially loved becoming an  active part of the communities there.</p>
                    <p>One of my favorite games was EpicDuel, an MMO flash RPG where players could create strategic builds and battle other players.</p>
                    <p>The best part of this game was the community that formed with it.</p>
                    <p>Since flash is dying off, the community of EpicDuel is too. I asked the community if they would like a place to record stories about their friends and groups, to stand the time of history.</p>
                    <p>EpicDuelStories was made to preserve the legacy of EpicDuel players. I also built up a nice moderation team to filter content</p>
                    <p>I built EpicDuelStories on the MEHN stack, and designed it with custom CSS and the Materialize library.</p>
                    <p><a target="_blank" href="http://www.epicduelstories.com">Visit EpicDuelStories</a></p>
                    <a target="_blank" href="https://github.com/joerez/epicduelstories">View on Github</a>
                    </div>
                </div>



                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>2b2t.reviews</h1>
                        <div class="proj-img-container bottom-margin">
                        <a target="_blank" href="http://www.2b2t.reviews"><img class="port-img proj-img" src="https://i.imgur.com/rbeZiqI.png" /></a>
                        </div>
                        <p>2b2t.reviews was the first full stack web application I created. While it isn't my best work, I chose to include it here because it taught me some important lessons, and to provide context for how much my skills have improved since building my first web app</p>
                        <p>2b2t.reviews was built to add accountability to Minecraft players. It allows users to leave reviews on other players, to see if they are trustworthy.</p>
                        <p>The intention was the create a track record of any negative histories players may have built up on a specific server.</p>
                        <p>After it's creation, it was attacked viciously by malicious users, and these attacks forced me to learn how to protect my web applications from various types of exploits.</p>
                        <p>You can read a more in depth write-up of this experience in one of my publications below.</p>
                        <p><a target="_blank" href="http://www.2b2t.reviews">Visit 2b2t.reviews</a></p>
                        <a target="_blank" href="https://github.com/joerez/2b2treviews">View on Github</a>
                    </div>
                    </div>
                </div>



                <div class="proj-div">
                    <div class="proj-content">
                    <h1>Flipbook.js</h1>
                    <div class="proj-img-container bottom-margin">
                    <a target="_blank" href="http://www.joerezendes.com/projects/flipbooklibrary/flipbook-docs/docs/"><img alt="Joe Rezendes - Flipbook.js" class="port-img proj-img" src="https://i.imgur.com/JeEe86Z.png" /></a>
                    </div>
                    <p>Flipbook.js is an open source Javascript Framework that makes creating 3D flipbooks easy.</p>
                    <p>For one of my websites, I wanted to create a 3D book, and I couldn't find any free libraries that I could use to help me.</p>
                    <p>I decided that I would have to create my own 3D book from scratch, and then I turned it into a library for other developers to use.</p>
                    <p>Flipbook.js books are 100% customizable. Developers have the ability to style these books with any rules they deem necessary.</p>
                    <p>The framework handles the rest by adding functionality. It also comes with default styles.</p>
                    <p><a target="_blank" href="https://github.com/joerez/flipbook-library">View on Github</a></p>
                    <p><a target="_blank" href="https://www.joerezendes.com/projects/flipbooklibrary/flipbook-docs/docs/">Read Flipbook.js Documentation</a></p>
                    <a target="_blank" href="https://github.com/joerez/flipbook-library">View on Github</a>
                    </div>
                </div>


                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>Make School New Tab</h1>
                        <div class="proj-img-container bottom-margin">
                        <a target="_blank" href="https://chrome.google.com/webstore/detail/makeschool-dashboard/canfancchgegidjmiagefehimmmchjgi"><img alt="Makeschool" class="port-img proj-img" src="https://i.imgur.com/1XXuMsd.png" /></a>
                        </div>
                        <p>A chrome extension that gives extra productivity to makeschool students and staff.</p>
                        <p>For some time, I had wanted to see if I could create my own chrome extension, but I wasn't sure what I would create</p>
                        <p>The idea came to me that it wasn't easy to know when other classes started and ended at the school I went to. This lead to the idea of creating a New Tab for makeschool students and staff, that could help their productivity.</p>
                        <p>I hooked up their Google Calendar, and also included some tech news to stay in the loop, as well as Google Search, and some other relevent links that developers may find useful.</p>
                        <p><a target="_blank" href="https://chrome.google.com/webstore/detail/makeschool-dashboard/canfancchgegidjmiagefehimmmchjgi">View on the Google Extension Store</a></p>
                        <a target="_blank" href="https://github.com/joerez/Makeschool-New-Tab">View on Github</a>
                    </div>
                    </div>
                </div>


                <div class="proj-div">
                    <div class="proj-content">
                    <h1>MERN SPA Starter</h1>
                    <div class="proj-img-container bottom-margin">
                    <a target="_blank" href="https://github.com/joerez/MERN-SPA-Starter"><img alt="Joe Rezendes frontend developer" class="port-img proj-img" src="https://i.imgur.com/AyG8K3y.png" /></a>
                    </div>
                    <p>Let's face it, creating full stack React applications with a Node backend isn't an easy process.</p>
                    <p>Couple that with also adding in authentication tied to Redux, and you've got a pretty big time commitment for getting a new project off the ground.</p>
                    <p>I compiled several different MERN stack applicaitons I've built, and created the perfect boiler plate to get started.</p>
                    <p>This let's you quickly set up a MERN stack Single Page Application, with built in Google oAuth, and a proxy between the front and back end.</p>
                    <p>This projct has also gained a tiny bit of traction on github, in the form of 18+ stars, making it one of my more popular Repos.</p>
                    <p><a target="_blank" href="https://github.com/joerez/MERN-SPA-Starter">View on Github</a></p>
                    </div>
                </div>



                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>React Transitions</h1>
                        <div class="proj-img-container bottom-margin">
                            <a target="_blank" href="http://www.joerezendes.com/projects/react-transitions"><img alt="react transitions" class="port-img proj-img" src="https://i.imgur.com/U1gkmSt.png" /></a>
                        </div>
                        <p>Many single page web applications don't use transitions for their different routes.</p>
                        <p>React Transitions hopes to change that.</p>
                        <p>Even though this library was built with React and react-router in mind, it actually works with anything, and in the end, it's just a CSS Animation library.</p>
                        <p>This means that you are free to use this with Angular, VanillaJS, really anything.</p>
                        <p>All you have to do is add some class names to pages you want to have transitions on.</p>
                        <p>The big difference between this and any other animation library, is that these transitions are designed for transitioning full pages. Not single elements.</p>
                        <p><a target="_blank" href="http://www.joerezendes.com/projects/react-transitions">View Demo</a></p>
                        <a target="_blank" href="https://github.com/joerez/react-transitions">View on Github (200+ stars)</a>
                    </div>
                    </div>
                </div>


                <div class="proj-div">
                    <div class="proj-content">
                    <h1>FireTracker.io</h1>
                    <div class="proj-img-container bottom-margin">
                    <a target="_blank" href="http://www.firetracker.io/"><img alt="FireTracker" class="port-img proj-img" src="https://i.imgur.com/483KKve.png" /></a>
                    </div>
                    <p>The power of compound interest is amazing, and when utilized properly can change people's lives.</p>
                    <p>FireTracker keeps track of your financial data to track when you can become financially independent and retire early.</p>
                    <p>I got the idea for this app while putting small bits of money away for investment purposes. I wanted to see how these little bits would add up over time.</p>
                    <p>I also used this as a good opportunity to do some cool data visualization.</p>
                    <p>I designed, coded, and shipped this app by myself on the full MERN stack.</p>
                    <p><a target="_blank" href="http://www.firetracker.io/">Visit FireTracker.io</a></p>
                    <a target="_blank" href="https://github.com/joerez/FireTracker">View on Github</a>
                    </div>
                </div>
                
                <div class="proj-div-reverse">
                    <div class="proj-content">
                    <div class="right-side">
                        <h1>play.Chomp.live <br /><small>Web, iOS, and Android</small></h1>
                        <div class="proj-img-container bottom-margin">
                        <a target="_blank" href="https://play.chomp.live"><img alt="Chomp" class="port-img proj-img" src="https://i.imgur.com/yb6V26a.png" /></a>
                        </div>
                        <p>I was at a party and an old CS instructor showed me a game he made with some LED buttons connected to a circuit board.</p>
                        <p>The game was called Chomp, and he challenged my friend Leif and I to beat him.</p>
                        <p>We were never quite able to succeed and this frustrated us, so after the party we decided to make our own version</p>
                        <p>Leif put together a basic API made in GoLang that would always beat the player if they chose single player. We hooked it up to ai.chomp.live.</p>
                        <p>I created a frontend in React that would send requests to ai.chomp.live and then draw a board based on the response.</p>
                        <p>Eventually I decided to add multiplayer version, and set up an Node server on api.chomp.live, hooked up some web sockets, and called it good.</p>
                        <p>We decided to offload the "AI" from the frontend so that players couldn't inspect the source code and cheat. We over engineered it so that our chomp game would be proprietary.</p>
                        <p>I also built a version in react native, and shipped it to google play, and put it on testflight for iOS.</p>
                        <p><a target="_blank" href="https://play.chomp.live">View Demo</a></p>
                    </div>
                    </div>
                </div>

                <div class="proj-div">
                    <div class="proj-content">
                    <h1>Pure CSS Santa</h1>
                    <div class="proj-img-container bottom-margin">
                    <a target="_blank" href="https://codepen.io/hermes/pen/VqaNom"><img alt="Joe Rezendes codepen" class="port-img proj-img" src="https://i.imgur.com/gUIEE89.png" /></a>
                    </div>
                    <p>When my contract at Zuora was over I took a few weeks off for Christmas and New Years before starting a new job.</p>
                    <p>I always like to have some sort of active side project, and during that holiday season I found myself out of fresh ideas.</p>
                    <p>I had seen pure CSS art before, and I had experience with CSS animations, so I wanted to see what would happen if I really committed some time to create something great.</p>
                    <p>The result was a holly jolly holiday animation that topped the list on several web development subreddits for a week.</p>
                    <p>No images were used in the making of this festive piece of work. Patience was key here.</p>
                    <p>The animations in the codepen are interesting. I wanted him to seem dynamic, so you'll rarely see him do the same actions at the exact same time.</p>
                    <p>Some of the micro animations include his breathing, his eyebrow movements, and his smile.</p>
                    <p>You could probably make a game of trying to count the different animations.</p>
                    <p><a target="_blank" href="https://codepen.io/hermes/pen/VqaNom">View On CodePen</a></p>
                    </div>
                </div>




                </div>

                <h1 class="tut-title">Technical Publications</h1>
                <p>The following are Medium Articles I've published that releate to my professional experience.</p>
                <div class="projects-container publications">

                    <article class="article-container port-img">
                    <a class="no-dec" target="_blank" href="https://medium.com/@joerez/ui-ux-trends-to-look-for-in-2020-dafa4c70a5e5">

                        <h1 class="blue">UI/UX Trends To Look For In 2020</h1>
                        {{!-- <p>The landscape of UI/UX is radically changing every year.</p>
                        <p>I love looking at the latest innovations in design. These are my predictions.</p> --}}
                        {{!-- <h3 class="blue">Read More</h3> --}}
                    </a>

                    </article>


                    <article class="article-container port-img">
                    <a class="no-dec" target="_blank" href="https://medium.com/@joerezendes_91375/need-stars-on-github-21a2fab3550d">

                        <h1 class="blue">Need Stars on GitHub? Build Open Source Libraries!</h1>
                        {{!-- <p>This was write up  I did after my CSS Animation Library started trending on Reddit and Github.</p>
                        <p>My main takeaway was that building open source libraries was well within my capabilties, and the only thing that stopped me from doing it before was my own self doubt.</p> --}}
                        {{!-- <h3 class="blue">Read More</h3> --}}
                    </a>

                    </article>

                    <article class="article-container port-img">
                    <a class="no-dec" target="_blank" href="https://medium.com/@joerezendes_91375/how-i-learned-cyber-security-by-being-attacked-by-reddit-trolls-28671984bd62">
                        <h1 class="blue">How I learned Cyber Security by being attacked by Reddit trolls</h1>
                        {{!-- <p>After building my first web application I wanted to show it off on Reddit, which lead to my site getting attacked.</p>
                        <p>This lead to me learning how to secure my API's and preventing spam form malicious users.</p> --}}
                        {{!-- <h3 class="blue">Read More</h3> --}}
                    </a>
                    </article>

                    <article class="article-container port-img">
                    <a class="no-dec" target="_blank" href="https://medium.com/@joerezendes_91375/the-rise-of-mongodb-8ac6f7cb8a95">
                        <h1 class="blue">The Rise of MongoDB - Why MongoDB is taking over</h1>
                        {{!-- <p>I really like using noSQL databases because they're easier to change halfway through development.</p>
                        <p>This article shows why startups are turning to noSQL databases over traditional SQL databases.</p> --}}
                        {{!-- <h3 class="blue">Read More</h3> --}}
                    </a>
                    </article>

                </div>

                <h1 class="tut-title">Tutorials</h1>
                <p class="tut-p">These are the tutorials I published for the Makeschool product college frontend curriculum.</p>

                <div class="projects-container">
                <a target="_blank" href="https://github.com/MakeSchool-Tutorials/Make-Cookies"><img alt="Joe Rezendes tutorials" class="port-img" height="200px" src="https://github.com/MakeSchool-Tutorials/Make-Cookies/raw/master/cover.png" /></a>
                <a target="_blank" href="https://github.com/MakeSchool-Tutorials/We-Sell-Shoes"><img alt="Joe Rezendes tutorials" class="port-img" height="200px" src="https://github.com/MakeSchool-Tutorials/We-Sell-Shoes/raw/master/cover.png" /></a>
                </div>



                    <article class="article-container port-img">
                    <a class="no-dec" href="/old">
                        <h1 class="blue">Old portfolio website</h1>
                        {{!-- <p>After building my first web application I wanted to show it off on Reddit, which lead to my site getting attacked.</p>
                        <p>This lead to me learning how to secure my API's and preventing spam form malicious users.</p> --}}
                        {{!-- <h3 class="blue">Read More</h3> --}}
                    </a>
                    </article>

                    <article class="article-container port-img">
                    <a class="no-dec" href="/old2">
                        <h1 class="blue">Even older portfolio website (Warning, this is pretty crazy and very aged, not all features functional)</h1>
                        {{!-- <p>After building my first web application I wanted to show it off on Reddit, which lead to my site getting attacked.</p>
                        <p>This lead to me learning how to secure my API's and preventing spam form malicious users.</p> --}}
                        {{!-- <h3 class="blue">Read More</h3> --}}
                    </a>
                    </article>


        </section>

    </main>

</div>



<script src="/new-port/index.js"></script>