*::selection {
  background: #9b59b6;
  color: white;
}

canvas {
  z-index: 2;
}

html, body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
  font-family: roboto;
  perspective: 800px;
  height: 100%;
  width: 100%;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.hero-title {
  padding: 0;
  font-size: 15rem;
  font-family: roboto;
  font-weight: 200;
  margin: 0;
  color: #2E3438;
  font-kerning: normal;
}

.underline {
  margin-left: 1rem;
  text-decoration: underline;
}

.hero-sub-title {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  font-size: 5rem;
  font-family: roboto;
  font-weight: 100;
  color: #7f8c8d;
  display: inline-block;
}

.icon-img {
  display: inline-block;
  height: 5rem;
  margin-left: 1rem;
  transition: all 5s;
}

.icon-img:hover {
  transform: rotate(720deg) scale(.9);
}


.minimal-hover {
  transition: all 300ms;
}

.minimal-hover:hover {
  color: white;
  text-shadow: 0px 1px 8px rgba(0,0,0,.9);
}

@keyframes Joe {
  0% {
    filter: brightness(40);
  }

  50% {
    filter: brightness(5);
  }

}

.joe {
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 3;
  height: 100vh;
  filter: brightness(40);
  animation: Joe;
  animation-fill-mode: both;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}




.top-bar {
  height: 70px;
  width: 100%;
  background: #4834d4;
}




.skills {
  /*background: #ecf0f1;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skill-img {
  height: 10rem;
  border-radius: 50%;
  border: solid 5px white;
}

.skills-content {
  width: 100%;
  font-weight: 200;
  padding-left: 3rem;
}

.bolder {
  font-weight: 500;
}

.skills-heading {
  color: #2E3438;
  font-weight: 400;
}

.about-me {
  width: 100%;
  font-weight: 200;
  padding-left: 3rem;
}


.contact {
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-family: roboto;
  font-weight: 100;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding-left: 3rem;

}

.port-img {
  border: solid 1px black;
  margin-bottom: 1rem;
  transition: all 300ms;
}

.port-img:hover {
  transform: scale(1.01) translateY(-10px);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.tut-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tut-p {
  margin-top: 0;
  padding-top: 0;
}

@keyframes navigateOut {
  from {
    opacity: 1;
  }


  to {
    transform: translate3d(0, -1000px, 0px) rotateX(100deg);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    }

}

@keyframes navigateIn {
  from {
    transform: translate3d(0, -500px, 0px) rotateX(90deg) rotateY(30deg);
    opacity: 0;
  }


  to {
    transform: translate3d(0, 0, 0) rotateX(0deg);
    opacity: 1;
    visibility: visible;
    }

}


.navigate-out {
  transform-style: preserve-3d;
  animation-name: navigateOut;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  backface-visibility: visible;
  z-index: 1;
}


.navigate-in {
  transform-style: preserve-3d;
  animation-name: navigateIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  backface-visibility: visible;
  z-index: 2;
}


@keyframes nav-expo {
  0% {
    /*box-shadow: 1px 0px 1px 1px rgba(255,0,0,.3);*/
  }

  50% {
    box-shadow: 0px 0px 1px 1px rgba(0,0,255,.3);
  }
}

.nav-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10000;
  border-radius: 50%;
  padding: .8rem;
  background: white;
  color: rgba(0,0,255,.7);
  border: solid 1px rgba(0,0,255,.3);
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: nav-expo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transition: all 200ms;
}

.nav-btn.open {
  transform: scale(1.2) translate3d(10px, 10px, 0px);
}

nav {
  position: fixed;
  top: 0; left: 0;
  z-index: 500;
  height: 100%;
  width: 0%;
  background: rgb(0, 23, 112, .99);
  transition: all 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

nav.open {
  height: 100%;
  width: 20%;
  color: rgba(255,255,255,1)
}

.nav-h1 {
  display: none;
}

.nav-h1.open {
  display: block;
  margin-bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
}


.second {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate3d(0, -500px, 0px) rotateX(90deg) rotateY(30deg);
}

.none {
  visibility: hidden;
}


@media (max-width:900px) and (min-width:300px) {

.hero-title {
  margin-top: 4rem;
  font-size: 3rem;
}

.underline {
  margin-left: .1rem;
}

.hero-sub-title {
  margin-left: none;
  font-size: 1.5rem;
  display: block;
}

.icon-img {
  margin-top: 10px;
  height: 3rem;
}

.joe {
  left: -50%;
}

nav.open {
  background: rgb(0, 23, 112);
  width: 45%;
}

.portfolio {
  padding-left: 1rem
}

.skills-content {
  padding-left: 1rem

}

.about-me {
  padding-left: 1rem
}

}
